{
    "files": [
        "./src/index.ts",
    ],
    "compilerOptions": {
        "target": "es5",
        "module": "commonjs",
        "declaration": true,
        "moduleResolution": "node",
        "noImplicitAny": false,
        "removeComments": true,
        "experimentalDecorators": true,
        "noLib": false,
        "jsx": "react",
        "outDir": "dist"
    },
    "exclude": [
      "node_modules",
      "dist",
      "node_modules",
      "typings"
    ]
}